<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754911955733-k14765q84qduisfb57m1dvk18vm7dpsr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754911955733-k14765q84qduisfb57m1dvk18vm7dpsr</string>
	<key>API_KEY</key>
	<string>AIzaSyAHX8jvU8P4pkXNNwB729Do1agk_KYGzeE</string>
	<key>GCM_SENDER_ID</key>
	<string>754911955733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.tinderClone</string>
	<key>PROJECT_ID</key>
	<string>tinder-815fd</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-815fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754911955733:ios:b4100a9ba6e59fc827f71c</string>
</dict>
</plist>